<!-- <div class="container">
     <h2 class="col-3 offset-5">Our Story</h2>
     <section class ="container justify-content-end">
         <p>
             We believe in good.We lauched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.
             Fans were given situations where they had to come up with their own favorite topping.The 
             enthusiastic response from our customers and fans bolstered our hard-working staff and we 
             will do our best to make the top entries selected by our fans to best of their wishes.

             
         </p>
     </section>
</div> -->

<div class="container">
    <br>
<h1 class="text-center">Our Story</h1>
    <br>
<p>We believe in good.We launched Fresh Pan Pizza Best Excuse Awards on our Facebook Page.
    Fans were given situations where they had to come up with wacky and fun excuses.The person with the Best
    excuse won the Best Excuse Badge and won Pizzeria's vouchers.Their enthusiatic response proved that
    Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza Ever!
</p>
<P>Ever Since we launched the Tastiest Pan Pizza,ever people have not been able to resist the softest,cheesiest,
    crunchiest,butteriest Domino's Fresh Pan Pizza.They have been leaving the stage in the middle of a performance
    and even finding excuses to be disqualified in a football match.
</P>
<P>We launched Fresh Pan Pizza Best Excuse Awards on our Facebook Page.
    Fans were given situations where they had to come up with wacky and fun excuses.The person with the Best
    excuse won the Best Excuse Badge and won Pizzeria's vouchers.Their enthusiatic response proved that
    Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza Ever! 
</P><br>

<div class="card mb-3" style="max-width: 1200px;">
    <div class="row no-gutters">
    <div class="col-md-4">
        <img src="../../assets/pizzaingredients.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h2 class="card-title">Ingredients</h2>
        <p class="card-text">We're ruthless about goodness.We have no qualms about learning up a day-old lettuce
            leaf (Straight from the farm), or steaming a baby(carrot).Cut .Cut. Chop. Chop. Steam. Steam.
            Stir. Stir. While they're still young and fresh-thats our motto. It makes the kitchen a better place.</p>
        </div>
    </div>
    </div>
</div>


<div class="card mb-3" style="max-width: 1200px;">
    <div class="row no-gutters">
    
    <div class="col-md-8">
        <div class="card-body">
        <h2 class="card-title">Our Chefs</h2>
        <p class="card-text">We're ruthless about goodness.We have no qualms about learning up a day-old lettuce
            leaf (Straight from the farm), or steaming a baby(carrot).Cut .Cut. Chop. Chop. Steam. Steam.
            Stir. Stir. While they're still young and fresh-thats our motto. It makes the kitchen a better place.</p>
        </div>
    </div>
    <div class="col-md-4">
        <img src="../../assets/chef.jpg" class="card-img" alt="...">
    </div>
    </div>
</div>


<div class="card mb-3" style="max-width: 1200px; max-height: 1200px;">
    <div class="row no-gutters">
    <div class="col-md-4">
        <img src="../../assets/stopwatch.jpg" width="50" height="350" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h2 class="card-title" >45 min delivery</h2>
        </div>
    </div>
    </div>
</div>



    



